.team{
    margin: 50px 200px 0 0 ;
    background-color: $bg;
    border-radius: 0px 200px 0px 0px;

    &__1{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px 0;

        form{
            button{
                padding: 10px 40px;
                border-radius: 10px;
                border: none;
                cursor: pointer;
                font-size: 0.9rem;
                background: white;

                &:hover{
                    background: skyblue;
                }
            }
        }
    }
    
    &__text{
        width: $width-t;
        color: $color-popular;
        h1{
            font-weight: lighter;
        }
        p{
            font-weight: lighter;
            opacity: 60%;
        }
    }


}