
// COLORES // 

$color-primary: #1F3F68;
$color-secundary: #333333;
$color-popular: #ffffff;

// TIPOGRAFIA //

$size-h1: 2rem;
$size-p: 1.5rem;
$size-s: 1rem;


// FONDO //

$bg: #316099;


// ANCHOS // 

$width-p: 100%;
$width-s: 60%;
$width-t: 50%;
$width-c: 20%;
$width-q: 10%;

// ALTOS // 

$height-p: 100%;
$height-s: 60%;
$height-t: 50%;
$height-c: 20%;
$height-q: 10%;